<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<link rel="stylesheet" href="../layui/css/layui.css">
<link rel="stylesheet" href="../layui/css/my.css">
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">宿舍管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img th:src="@{/images/icon.png}" src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    <span id="name">贤心</span>
                </a>
            </li>
            <li class="layui-nav-item"><a onclick="logout()">退了</a></li>
        </ul>
    </div>
</div>
<div>
    <div class="layui-side" >
        <ul class="layui-nav layui-nav-tree" lay-filter="">
            <li class="layui-nav-item"><a href="../student/energy.html" target="content">水电气费查询</a></li>
            <li class="layui-nav-item"><a href="../student/repair.html" target="content">新建报修</a></li>
        </ul>

    </div>
    <div>
        <iframe th:src="@{/student/energy.html}"  id="content" name="content" scrolling="no" frameborder="0" width="100%"></iframe>
    </div>

</div>

</body>
<script src="../layui/layui.js"></script>
<script>

    name=localStorage.getItem("name")
    document.getElementById("name").innerHTML=name;

    layui.use('element', function(){
        var element = layui.element;
          console.log(localStorage.getItem("user"))
    });

    window.onresize=function(){
    }

    function logout(){
        localStorage.removeItem("name")
        window.location.href="/"
    }

</script>
</html>